html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-width: 320px;
}

main {
    width: 60%;
    margin: 6.25rem auto 0;
}

.meme-list {
    padding: 0;
    margin-top: 3.125rem;
    list-style: none;
    font-size: 1.625rem;
    font-weight: 700;
}

.meme-img {
    margin: 0 auto;
    width: 80%;
    max-height: 0;
    transition: max-height 250ms ease-out;
    display: block;
}

li {
    border-top: 0.125rem solid gray;
    padding-bottom: 2.5rem;
}

.meme-title-block {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0.65rem 0;
    color: rgb(64, 64, 238)
}

@media (hover: hover) {

    li:hover {
        cursor: pointer;
        background-color: rgb(250, 250, 250);
    }

    li:hover>.meme-img {
        max-height: 100vh;
    }

    ul:hover .state-icon {
        display: block;
    }

    ul:hover p {
        color: black;
    }

    li:hover .state-icon {
        transform: rotate(45deg);
    }
}

li:focus>.meme-img {
    max-height: 100vh;
}

li:focus .state-icon {
    transform: rotate(45deg);
}

li:focus>p {
    color: black;
}

li:focus {
    outline: none;
}

.state-icon {
    display: none;
    margin-right: 0.625rem;
    margin-top: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
    transition: transform 250ms;
}


@media all and (max-width: 1200px) {
    .meme-list {
        font-size: 1.25rem;
    }

    .state-icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    li {
        padding-bottom: 1rem;
    }
}

@media all and (max-width: 768px) {
    .meme-list {
        font-size: 1rem;
    }

    .state-icon {
        width: 1rem;
        height: 1rem;
    }

    p {
        padding-right: 1.875rem;
    }

    li {
        padding-bottom: 0.625rem;
    }
}
